.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #ffffff33;
  width: 100%;
}

.score-nav,
.logo-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 50%;
  color: white;
}
